* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    width: 100%;
    background: #000;
    color: white;
}

#nav {
    height: 10vh;
    background: #111111;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3%;
}

.nav-comp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background: #ec9c9c; */
    border-radius: 100px;
    padding: 5px 20px;
}

.nav-comp h3 {
    margin: 10px;
    padding: 1px 10px;
    /* background-color: aqua; */
    position: relative;

}

#part2 {
    background: #363636;
}

#part2 h3::after {
    content: '';
    position: absolute;
    left: 50%;
    /* Center the underline */
    bottom: -5px;
    /* Space between text and underline */
    width: 40%;
    /* Underline spans half the text width */
    height: 2px;
    background-color: #D5F803;
    transform: translateX(-50%) scaleX(0);
    /* Initially hide the underline and center it */
    transition: transform 0.5s ease;
}

#part2 h3:hover {
    color: #D5F803;
}

#part2 h3:hover::after {
    transform: translateX(-50%) scaleX(1);
    /* Reveals the underline on hover */
}

#part3 i {
    color: white;
}

#part3 i:hover {
    color: #D5F803;
}

.nav-comp button {
    background: #000;
    border: 1px solid white;
    border-radius: 100px;
    color: white;
}

.nav-comp button:hover {
    border: 1px solid #D5F803;
    color: #D5F803;
    scale: 1.01;
}

#hero-sec {
    height: 100vh;
    background: #111111;
}

#hero-sec h1 {
    text-align: center;
    font-size: 80px;
}

#hero-sec>h1>img {
    height: 50px;
}

#hero-main {
    height: 80vh;
    width: 100%;
    /* background: rgb(43, 48, 46); */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#right-part {
    width: 12%;
    position: absolute;
    top: 5%;
    left: 5%;
}

#right-part img {
    width: 15vh;
    border-radius: 50%;
    padding: 8px;
    border: 15px solid #1f1f1f;
    box-shadow: -1px -1px 0 #d5f803;
}

#arrow img {
     height: 25%;
    position: absolute;
top: 2%;
    left: 27%;
}

#mid-part {
    width: 70%;
}

#mid-part img {
    height: 70vh;
    padding: 0 20%;
}

#left-part {
    position: absolute;
    top: 10%;
    right: 5%;
    text-align: center;
}

#left-part div {
    padding: 20px 10px;
}

#left-part h3 {
    font-size: 40px;
    font-weight: 100;
}

#left-part p {
    font-size: 20px;
    font-weight: 100;
}

#left-part i,
#left-part p {
    font-weight: 100;
    color: #D5F803;
}

#left-part>div>i {
    font-size: 100px;
}

#left-part>hr {
    border: 1px solid #D5F803;
}