* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    width: 100%;
    background: #000;
    color: white;
    perspective: 1000px;
}

*::selection {
    background-color: #111111;
    color: #D5F803;
}

#nav {
    height: 10vh;
    background: #111111;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3%;
}

.nav-comp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background: #ec9c9c; */
    border-radius: 100px;
    padding: 5px 20px;
}

.nav-comp h3 {
    margin: 10px;
    padding: 1px 10px;
    /* background-color: aqua; */
    position: relative;

}

#part2 {
    background: #363636;
}

#part2 h3::after {
    content: '';
    position: absolute;
    left: 50%;
    /* Center the underline */
    bottom: -5px;
    /* Space between text and underline */
    width: 40%;
    /* Underline spans half the text width */
    height: 2px;
    background-color: #D5F803;
    transform: translateX(-50%) scaleX(0);
    /* Initially hide the underline and center it */
    transition: transform 0.5s ease;
}

#part2 h3:hover {
    color: #D5F803;
}

#part2 h3:hover::after {
    transform: translateX(-50%) scaleX(1);
    /* Reveals the underline on hover */
}

#part3 i {
    color: white;
}

#part3 i:hover {
    color: #D5F803;
}

.nav-comp button {
    background: #000;
    border: 1px solid white;
    border-radius: 100px;
    color: white;
}

.nav-comp button:hover {
    border: 1px solid #D5F803;
    color: #D5F803;
    scale: 1.01;
}

#hero-sec {
    height: 100vh;
    background: #111111;
}

#hero-sec h1 {
    text-align: center;
    font-size: 80px;
}

#hero-sec>h1>img {
    height: 50px;
}

#hero-main {
    height: 80vh;
    width: 100%;
    /* background: rgb(43, 48, 46); */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#right-part {
    width: 12%;
    position: absolute;
    top: 5%;
    left: 5%;
}

#right-part img {
    width: 15vh;
    border-radius: 50%;
    padding: 8px;
    border: 15px solid #1f1f1f;
    box-shadow: -1px -1px 0 #d5f803;
}

#arrow img {
    height: 25%;
    position: absolute;
    top: 2%;
    left: 27%;
}

#mid-part {
    width: 70%;
}

#mid-part img {
    height: 70vh;
    padding: 0 20%;
}

#left-part {
    position: absolute;
    top: 10%;
    right: 5%;
    text-align: center;
}

#left-part div {
    padding: 20px 10px;
}

#left-part h3 {
    font-size: 40px;
    font-weight: 100;
}

#left-part p {
    font-size: 20px;
    font-weight: 100;
}

#left-part i,
#left-part p {
    font-weight: 100;
    color: #D5F803;
}

#left-part>div>i {
    font-size: 100px;
}

#left-part>hr {
    border: 1px solid #D5F803;
}

#left-part h3:hover, 
#left-part p:hover{
    scale: 1.1;
}

#page2 {
    height: 100vh;
    width: 100%;
    position: relative;
}

#page2-head {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3%;
}

#page2-part1 h2 {
    font-weight: 100;
    color: #D5F803;
}

#page2-part1 h1 {
    font-size: 45px;
    font-weight: 100;
}

#right,
#left {
    height: 60px;
    width: 60px;
    border-radius: 15px;
    font-size: 40px;
    background: #000;
    color: white;
}

#right:hover {
    background: white;
    color: #000;
}

#left {
    background: white;
    color: #000;
}

#left:hover {
    background: #000;
    color: white;
}

#page2-arrow img {
    height: 10%;
    position: absolute;
    top: 10%;
    left: 11%;
}

#card-container {
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* padding: 1%; */
    /* background-color: aqua; */

}

.cards {
    height: 90%;
    width: 29%;
    padding: 1%;
    /* background-color: #d5f803; */
}

.card {
    height: 80%;
    margin: 5%;
    padding: 5%;
    background-color: #1B1C20;
    position: relative;
    border-radius: 30px;
    overflow: hidden;
}

.card:hover {
scale: 1.01;
}

.card>img {
    height: 100%;
    /* padding: 1%; */
    background: #7D00F2;
    border-radius: 20px;
    object-fit: contain;
    clip-path: polygon(50% 0, 0 0, 0 90%, 30% 90%, 30% 100%, 100% 100%, 100% 85%, 100% 10%, 65% 10%);
}

.card #img2 {
    background: #D5F803;
}

.card #img3 {
    background: #FF5C1F;
}

.offer {
    position: absolute;
    font-size: 13px;
    align-items: center;
    top: 4%;
    right: 3%;
    background-color: #1B1C20;
    padding: 0 10px;
}

.offer h2 {
    color: #939999;
}

.indiv {
    display: flex;
    position: absolute;
    font-size: 13px;
    align-items: center;
    bottom: 6%;
    background-color: #1B1C20;
    padding: 0 10px;
}

.indiv>img {
    width: 20px;
    /* margin: 10px; */
}

.baner {
    font-size: 15px;
    padding: 8px;
    text-align: center;
    /* background-color: aquamarine; */
    position: absolute;
    top: 33%;
}

#baner1 {
    border: 3px solid #7d00f2;
    background-color: #D5F803;
    color: #000;
}

#baner2 {
    border: 3px solid #D5F803;
    background-color: #FF5C1F;
    color: #000;
}

#baner3 {
    border: 3px solid #FF5C1F;
    background-color: #7d00f2;
    color: #000;
}

.btn {
    text-align: center;
}

.btn button {
    height: 50px;
    /* width: 120px; */
    padding: 10px 60px;
    border-radius: 15px;
    background-color: #1f1f1f;
    color: white;
    border: none;
    font-weight: 800;
}

.btn button:hover {
    color: black;
    transition: 1s ease;
}

#btn1 {
    box-shadow: 4px 4px 0 #7d00f2;
}

#btn1:hover {
    background-color: #7d00f2;
    box-shadow: 5px 5px 0 #D5F803;
}

#btn2 {
    box-shadow: 4px 4px 0 #D5F803;
}

#btn2:hover {
    background-color: #D5F803;
    box-shadow: 5px 5px 0 #FF5C1F;
}

#btn3 {
    box-shadow: 4px 4px 0 #FF5C1F;
}

#btn3:hover {
    background-color: #FF5C1F;
    box-shadow: 5px 5px 0 #7d00f2;
}